body {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  background-color: #fff;
}

.body-item {
  margin-top: 110px;
  padding: 0 50px;
}

header ul {
  display: flex;
  color: #000;
}

header ul li {
  list-style: none;
  margin: 20px;
  transition: 0.5s;
}

header ul li a{
  text-decoration: none;
  color: #000;

}

header ul li:hover { 
  outline: none;
  transform: scale(1.5);
  color: #000;
  font-weight: 700;
  -webkit-text-stroke: 1px rgb(252, 247, 247);
}

footer {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

h2 {
  display: inline-block;
  cursor: pointer;
}